.app {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
}

button,
input {
  max-width: 100%;
}

ul {
  padding: 0;
}

li {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

@media (max-width: 600px) {
  li {
    flex-direction: column;
  }

  button {
    width: 100%;
  }
}
